<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">About</h1>
</div>

<img src="img/picture.webp" alt="Laptop" width="473" height="316">


<div class="pt-3">
  <p>This is a simple Admin Portal developed  by Mahesh.</p>
   <p><b> Introduction</b><br></p>
   <p>I'm Mahesh—an IT enthusiast with a penchant for problem-solving, a thirst for knowledge, and a deep-rooted passion for leveraging technology to create positive change. With each new challenge that comes my way, I'm driven by the belief that technology has the power to shape a brighter, more connected future for us all.</p>
   <p><b>Contact Details</b></p>
   <p><b> Mailid</b>:maheshnlvp@gmail.com</p>
   <p><b>Mobile Number</b>:9390011724</p>
   <p>Thank You</p>
</div>
